/* Chopsticks */

:root {
  --box-width: 1000px;
  --chopstick-size: 400px;
  --left-clip: 40px;
  --right-clip: 100px;
  --left-top: 60px;
  --right-top: 300px;
    --neko-width: 100px;
  --neko-top: 500px;
  --neko-left: 40px;
  --nowopen-width: 100px;
  --nowopen-top: 100px;
  --nowopen-right: 40px;
}

.chopstick-container {
  /* position: relative; */
  width: 100vw;
}

.chopstick {
    position: absolute;
        height: 400px;
        overflow-x: hidden;
}

.chopstick img {
  position: inherit;
  width: var(--chopstick-size);
}

#chopstick1 {
    top: var(--left-top);
    left: 0px;
    margin-left: calc(-1 * var(--left-clip));
    width: var(--chopstick-size);
}

#chopstick2 {
    top: var(--right-top);
    right: 0px;
    width: calc(var(--chopstick-size) - var(--right-clip));
}

#box {
  width: var(--box-width);
  min-height: 400px;
  max-width: 90vw;
  margin: 5em auto 4em auto;
  background: grey;
  z-index: 2;
}

.c1 {
  z-index: -1;
}

.c2 {
  z-index: 3;
}

.c3 {
  z-index: 4;
}

#neko {
  width: var(--neko-width);
  position: absolute;
  top: var(--neko-top);
  left: var(--neko-left);
}

#nowopen {
  width: var(--nowopen-width);
  position: absolute;
  top: var(--nowopen-top);
  right: var(--nowopen-right);
}