/* Chopsticks */

html, body {
  scroll-behavior: smooth !important;
}

:root {
  --box-width: 1000px;
  --chopstick-size: 400px;
  --clip-amount-left: 40px; /* Clip amount for the left chopstick */
  --clip-amount-right: 100px; /* Effective clip amount for the right chopstick (was 40px * 2.5) */
  --left-top: 60px;
  --right-top: 300px;
    --neko-width: 100px;
  --neko-top: 500px;
  --neko-left: 40px;
  --nowopen-width: 100px;
  --nowopen-top: 100px;
  --nowopen-right: 40px;
}

.chopstick-container {
  /* position: relative; */
  width: 100vw;
}

.chopstick {
    position: absolute;
        height: 400px;
        overflow-x: hidden;
}

.chopstick img {
  position: inherit;
  width: var(--chopstick-size);
}

#chopstick1 {
    top: var(--left-top);
    left: 0px;
    margin-left: calc(-1 * var(--clip-amount-left));
    width: var(--chopstick-size);
}

#chopstick2 {
    top: var(--right-top);
    right: 0px;
    width: calc(var(--chopstick-size) - var(--clip-amount-right));  /* Using the new right-specific clip amount */
}

#box {
  width: var(--box-width);
  min-height: 4000px;
  max-width: 90vw;
  min-width: 340px;
  margin: 5em auto 4em auto;
  background: grey;
  z-index: 2;
}

.c1 {
  z-index: -1;
}

.c2 {
  z-index: 3;
}

.c3 {
  z-index: 4;
}

#neko {
  width: var(--neko-width);
  position: absolute;
  top: var(--neko-top);
  left: var(--neko-left);
}

#nowopen {
  width: var(--nowopen-width);
  position: absolute;
  top: var(--nowopen-top);
  right: var(--nowopen-right);
}

@media screen and (max-width: 1370px) {
  #neko, #nowopen {
    display: none;
  }
}

@media screen and (max-width: 1271px) {
  #a4 {
    display: none;
  }
}

/* Responsive chopsticks for smaller screens */
@media screen and (max-width: 1348px) {
  :root {
    --clip-amount-left: calc(50px + calc(-0.5 * calc(100vw - 1348px)));
    --clip-amount-right: calc(100px + calc(-0.5 * calc(100vw - 1348px)));
  }

}